@media (max-width: 600px) {

    .home-navbar .home-left,
    .home-navbar .home-right,
    .home-navbar .home-container01 {
        display: none;
    }

    .home-main {
        padding-bottom: 2em;
    }

    .home-cards-container {
        display: flex;
        flex-flow: row wrap;
        gap: 1.5em;
    }

    .home-cards-container:after {
        content: '';
        flex: 1 0 45%;
    }

    .home-footer footer {
        display: flex;
        padding: 2em 0;
        flex-direction: column-reverse;
    }

    .home-full-width-banner.section-container .home-image6,
    .home-container08 .blog-post-card-blog-post-card {
        min-width: 100%;
    }

    .home-cards-container .category-card-category-card {
        flex: 1 0 45%;
        aspect-ratio: 1/1;
    }

    .home-full-width-banner.section-container {
        margin-top: -3em;
        margin-bottom: -2em;
        display: flex;
        flex-direction: column;
    }

    .home-hero.section-container .home-hero1 {
        display: flex;
        flex-direction: column;
    }

    .home-navbar .home-middle span {
        margin-left: 0;
    }


    .home-footer footer .home-links-container {
        display: flex;
        flex-direction: column;
    }

    .home-cards-container .category-card-category-card img {
        width: 100%;
        height: 100%;
    }

    .home-full-width-banner.section-container .home-left4 {
        padding: 2em;
    }

    .home-hero.section-container .home-hero1 .home-container03 .home-info,
    .home-hero.section-container .home-hero1 .home-container04,
    .home-hero.section-container .home-hero1 .home-btn-group {
        margin-inline: auto;
    }

    .home-full-width-banner.section-container .home-btn.button {
        margin-top: -1em;
    }
}